/* --- Bartosz Dobry: famitool website--- */

@import "bootstrap";
@import "bootstrap/theme";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);

/* --- colors --- */

$black: #4a4a4a;
$white: #ffffff;
$green:#3fc57e;
$font-family: 'Roboto',
sans-serif;
$medium: 500;
$regular: 400;

/* --- body starts here --- */

body {
  min-width: 320px;
  font-family: $font-family;
  font-weight: $regular;
}

h2 {
  font-size: 27px;
  font-weight: $medium;
}

p.subtitle {
  font-size: 16px;
}


/* --- hero --- */

.hero-unit {
  background-size: cover;
  background-image: url('http://placehold.it/1500x1500&text=Hero');
  background-color: #EEEEEE;
  height: 600px;
  padding-top: 200px;
  .logo {
    position: absolute;
    top: 20px;
    left: 70px;
  }
  .container {
    height: 100%;
    position: relative;
    h1 {
      margin-top: 0;
      font-size: 33px;
      font-weight: $medium;
    }
    input {
      height: 42px;
      vertical-align: middle;
      border: 1px solid #d4e7e8;
      padding-left: 15px;
      color: $black;
      width: 30%;
      border-radius: 3px;
    }
    .subtitle {
      padding-top: 22px;
      padding-bottom: 26px;
      line-height: 16px;
    }
  }
  .stick-bottom {
    position: absolute;
    text-align: center;
    bottom: 40px;
    width: 100%;
    line-height: 22px;
    font-size: 18px;
    color: $green;
    &:after {
      content: "scroll down";
      display: block;
    }
  }
}

.button {
  background: $green;
  box-shadow: 0px 1px 0px 0px #2eab69;
  display: inline-block;
  vertical-align: middle;
  border-radius: 3px;
  width: 170px;
  height: 44px;
  line-height: 44px;
  color: white;
  &:hover {
    font-weight: bolder;
    text-decoration: none;
    color: $green/4;
  }
}

// over mobile
@media all and (min-width: 767px) {}

// tablets
@media all and (max-width: 992px) and (min-width: 768px) {}

// over tablets
@media all and (min-width: 996px) {}

@media all and (max-width: 1199px) and (min-width: 993px) {}

@media all and (min-width: 1200px) {}

// test for breakpoints
$mobile: "all and (max-width: 992px) and (min-width: 768px)";
$tablets: "only screen and (max-width : 320px)";
$tablets: "only screen and (max-width : 320px)";
$desktop: "only screen and (max-width : 320px)";
@media #{$mobile} {
  //  background: red;
}

.col-centered {
  float: none;
  margin: 0 auto;
}


/* --- LOONEY TUNES --- */


/* --- That's all Folks! --- */