/* --- Bartosz Dobry: famitool website--- */

@import "bootstrap";
@import "bootstrap/theme";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);

/* --- colors --- */

$black: #4a4a4a;
$white: #ffffff;
$green:#3fc57e;
$font-family: 'Roboto',
sans-serif;
$medium: 500;
$regular: 400;

/* --- body starts here --- */

body {
  min-width: 320px;
  font-family: $font-family;
  font-weight: $regular;
}

h2 {
  font-size: 33px;
  font-weight: $medium;
}

p.subtitle {
  font-size: 16px;
  padding-top: 22px;
  padding-bottom: 26px;
  line-height: 16px;
}

.logo {
  position: fixed;
  top: 20px;
  left: 70px;
  z-index: 100;
}

.button {
  background: $green;
  box-shadow: 0px 1px 0px 0px #2eab69;
  display: inline-block;
  vertical-align: middle;
  border-radius: 3px;
  width: 170px;
  height: 44px;
  line-height: 44px;
  color: white;
  &:hover {
    font-weight: bolder;
    text-decoration: none;
    color: $green/4;
  }
}


/* --- hero --- */

.hero-unit {
  background-color: white;
  height: 600px;
  padding-top: 190px;
  .container {
    height: 100%;
    position: relative;
    h1 {
      margin-top: 0;
      font-size: 33px;
      font-weight: $medium;
    }
    input {
      height: 42px;
      vertical-align: middle;
      border: 1px solid #d4e7e8;
      padding-left: 15px;
      color: $black;
      width: 30%;
      border-radius: 3px;
    }
  }
  .stick-bottom {
    position: absolute;
    text-align: center;
    bottom: 40px;
    width: 100%;
    line-height: 22px;
    font-size: 18px;
    color: $green;
    &:after {
      content: "scroll down";
      display: block;
    }
  }
}

.cloud {
  position: absolute;
  top: 100px;
  left: -5%;
  height: 150px;
  z-index: 0;
  &:nth-of-type(2) {
    top: 380px;
    left: 10%;
  }
  &:nth-of-type(3) {
    top: 20px;
    left: 70%;
  }
}


/* --- city --- */

.city {
  position: relative;
  .container {
    position: absolute;
    top: 20%;
    z-index: 10;
    width: 100%;
    display: block;
    text-align: center;
  }
  h2,
  p {
    color: white;
    top: 20%;
  }
}

.city-area {
  width: 100%;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  background: #33B3BE;
  height: 750px;
  overflow: hidden;
  .city-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
  }
  .city-luft {
    width: 6%;
    position: absolute;
    top: 15%;
    z-index: 9;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    -webkit-transform: translate3d(-50%, 0, 0);
    -ms-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation: luftbaloon 100s ease infinite;
    animation: luftbaloon 100s ease infinite;
    .luftbaloon {
      position: absolute;
      width: 200%;
      z-index: 100;
      top: 10%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
  }
  .city-tree {
    position: absolute;
    width: 5%;
    bottom: 0;
    left: 10%;
    &:nth-of-type(2) {
      left: 37%;
    }
    &:nth-of-type(3) {
      left: 43%;
    }
    &:nth-of-type(4) {
      left: 77%;
    }
    &:nth-of-type(5) {
      left: 80%;
    }
    &:nth-of-type(6) {
      left: 40%;
    }
  }
}


/* --- city --- */

.grass {
  width: 100%;
  background: $green;
  height: 150px;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 50% solid transparent;
    border-right: 50% solid transparent;
    border-top: 20px solid #000;
    clear: both;
    z-index: 100;
  }
}

/* --- footer --- */
footer {
  margin-top: 39px;
  .logo {
    position: relative;
  }
}
// over mobile
@media all and (min-width: 767px) {}

// tablets
@media all and (max-width: 992px) and (min-width: 768px) {}

// over tablets
@media all and (min-width: 996px) {}

@media all and (max-width: 1199px) and (min-width: 993px) {}

@media all and (min-width: 1200px) {}

// test for breakpoints
$mobile: "all and (max-width: 992px) and (min-width: 768px)";
$tablets: "only screen and (max-width : 320px)";
$tablets: "only screen and (max-width : 320px)";
$desktop: "only screen and (max-width : 320px)";
@media #{$mobile} {
  //  background: red;
}

.col-centered {
  float: none;
  margin: 0 auto;
}


/* --- LOONEY TUNES --- */


/* --- That's all Folks! --- */

@-webkit-keyframes luftbaloon {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
    -ms-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
  10% {
    top: 20%;
  }
  25% {
    top: 45%;
  }
  50% {
    top: 30%;
  }
  58% {
    top: 10%;
  }
  100% {
    -webkit-transform: translate3d(1700%, 0, 0);
    -ms-transform: translate3d(1700%, 0, 0);
    transform: translate3d(1700%, 0, 0);
  }
}

@keyframes luftbaloon {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
    -ms-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
  10% {
    top: 20%;
  }
  25% {
    top: 45%;
  }
  50% {
    top: 30%;
  }
  58% {
    top: 10%;
  }
  100% {
    -webkit-transform: translate3d(1700%, 0, 0);
    -ms-transform: translate3d(1700%, 0, 0);
    transform: translate3d(1700%, 0, 0);
  }
}